/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    height: auto;
}
.container h1 h2{

    size: 20px;
}
/* Header styles */
header {
    background-color: #3375ab;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 500;
    transition: background-color 0.3s ease;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    flex: 2;
    position: sticky;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}



/* About section styles */
#about {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

#about h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

#introduction{
    position: relative;
    background-color: white;
    padding: 50px 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#about p {
    font-size: 10px;
    line-height: 1.6;
}

/* Portfolio section styles */
#portfolio {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
    
}

#portfolio h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

#contact {
    background-color: #3375ab;
    padding: 50px 0;
    text-align: center;
    display: flex;
    align-items: center;
}

#contact h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Footer styles */
/* Footer styles */
footer {
    background-color:rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
    color: #003a74;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 40px; /* Adjust size of icons */
    height: 40px; /* Adjust size of icons */
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2); /* Add hover effect */
}

button{
    transition: transform 0.3s ease;
}
button:hover{
    transform: scale(1.2);
}
.port {
    background-color: #fff;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -9px 10px 18px 5px rgba(0, 0, 0, 0.1)
}

.ports {
        max-width: fit-content;
        background-color: #fff;
        margin: 20px 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: -9px 10px 18px 5px rgba(0, 0, 0, 0.1)};
        
   .sentence-animation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sentence {
        width: 100%;
        text-align: center;
        font-size: 34px;
    }       
    #skills {
        background-color:whitesmoke;
        padding: 150px 0;
        text-align: center;
    }
.head{
    position: relative;
    z-index: 40;
}
  .fade-in {
    animation: fadeIn 1.5s ease-in forwards;
  }

  .fade-out {
    animation: fadeOut 1.5s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .image img {
   
    display: none; /* Hide all images initially */
  }
  
  .image img.active {
    display: block; /* Display the active image */
  }
  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(30, end) infinite, blink .75s step-end infinite;
  }

 .projects{
   display: flex;
   padding: 10px;
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   align-items: center;
 }

 .sentence h2{
    display: none;
 }
 
.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    max-width: 500px;
}
 .contact_form input{
   width: 500px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    
    
 }
.project{
    border-radius: 10px;
    box-shadow: -9px 10px 18px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 800px;
    position: relative;
}
@media (max-width: 1024px) {
    .projects  {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        align-items: center;
        gap: 20px;
        }
        .project{
            border-radius: 10px;
            box-shadow: -9px 10px 18px 5px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            position: relative;
            max-width: 800px;
        }
        .contact_form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            max-width: 300px;
        }
         .contact_form input{
           width: 300px;
            height: 30px;
            border-radius: 5px;
            padding: 0;
         }
  }

  @media (max-width: 768px) {
    .projects  {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        align-content: center;
    }
    .project{
        border-radius: 10px;
        box-shadow: -9px 10px 18px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        position: relative;
        max-width: 350px;
    }
    .contact_form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        max-width: 350px;
    }
     .contact_form input{
       max-width: 200px;
        height: 30px;
        border-radius: 5px;
        padding: 0;
        align-self: center;
     }
  }